<?xml version="1.0" ?>
<!--
/**
 * Copyright © Sagar Parikh, All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Sagar_Custom::sagar" title="Sagar" sortOrder="60" />
            </resource>
        </resources>
    </acl>
</config>